* {
  background-color: #10141e;
  color: white;
}
.body {
  margin: 0px;
}
.container {
  display: flex;
  overflow: hidden;
}
.container2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


.sidebar {
  background-color: #161d2f; /* Arka plan rengi */
  width: 96px; /* Sidebar genişliği */
  height: 960px; /* Ekran yüksekliği kadar genişletme */
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  padding: 20px; /* İçerikten kenarlara mesafe */
  box-sizing: border-box; /* Padding'i içeriğin dışında tutmak için */
  color: white; /* Yazı rengi */
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-images {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  align-items: center; /* Öğeleri ortalamak için */
  margin-top: 3rem;
}

.inner-sidebar {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  align-items: center; /* Öğeleri ortalamak için */
}
.inner-sidebar img {
  width: 25px; /* Vektörlerin genişliğini küçültmek için */
  height: 25px; /* Vektörlerin yüksekliğini küçültmek için */
  margin-bottom: 20px; /* Resimler arasında boşluk bırakmak için */
}

.sidebar-avatar {
  background-color: #161d2f;
}

.sidebar-logo {
  background-color: #161d2f;
  margin-top: 1rem;
}
.sidebar-logo img {
  width: 40px; /* Logonun genişliğini ayarlamak için */
  height: 40px; /* Logonun yüksekliğini ayarlamak için */
}

.deneme {
  display: flex;
}

.search-container {
  margin-top: 32px;
  margin-left: 66px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-input {
  border-color: #10141e;
  width: 381px;
  height: 32px;
  border-width: 0px;
  border: 2px solid #10141e;
  transition: border-color 0.3s, border-width 0.3s;
  padding-left: 20px; /* Sadece sol tarafa ekstra 20px boşluk ekler */
}

.search-input:focus {
  outline: none; /* Varsayılan outline'ı kaldır */
  border-radius: 20px;
  border-bottom-color: #161d2f; /* İstediğiniz renk kodunu girin */
  border-width: 3px; /* İstediğiniz genişliği girin */
}
.container-trends {
  margin-left: 66px;
  margin-top: 34px;
}

.trend-title {
  font-size: xx-large;
}
.sidebar-click:hover {
  cursor: url(hand.cur), pointer;

  transform: scale(1.3); /* Üstüne gelince büyüme efekti */
  fill: #fc4747;
}

.sidebar-click:active{
  fill:white ;
}

.sidebar-icon{
  fill: #5A698F;
  width: 30px;
  height: 30px;
  background-color: #161d2f;
}

.sidebar-logo .sidebar-click:hover {
  cursor: url(hand.cur), pointer;
  transform: scale(1.3); /* Üstüne gelince büyüme efekti */
}

.sidebar-avatar-click:hover {
  cursor: url(hand.cur), pointer;
  width: 90px;
  height: 90px;
}

.element-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 280px;
}
.element-properties {
  display: flex;
  gap: 10px;
  font-size: small;
  margin: 10px;
}

.element-name {
  display: flex;
  margin-left: 10px;
  font-size: large;
  font-weight: bolder;
}

.element-box {
  margin-top: 30px;
  display: flex;
  margin-right: 20px;
  gap: 60px;
  flex-wrap: wrap;
}

.element-splashart {
  width: 280px;
  height: 174px;
  border-radius: 20px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.trends-splashart-properties {
  position: absolute;
  background: transparent;
  bottom: 20px;
  left: 20px;
  div {
    background: transparent;
  }
}

.trend-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.trend-elements {
  display: flex;
  margin-top: 30px;
  display: flex;
  justify-content: space-between; /* Elemanları en üst ve en altta boşluklarla yerleştir */
  margin-right: 20px;
  gap: 40px;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.trend-slider{
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
}

.trend-element-properties,
.trend-name {
  color: white;
}
.trend-splashart {
  width: 470px; /* Set the width */
  height: 230px; /* Set the height */
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 20px; /* Optional: Rounded corners */
}

.trend-name {
  font-size: 30px;
  font-weight: bolder;
}

.oneElement-Container {
  display: flex;
}

.oneElement-Container2 {
  margin-left: 30px;
  justify-content: center;
}
.oneElement-inner-container {
  display: flex;
}

.oneElement-properties {
  margin-left: 30px;
  margin-bottom: 30px;
}

.oneElement-properties-img {
  width: 50px;
  height: 50px;
}

.oneElement-properties-img-container {
  display: flex;
  transition: transform 0.2s ease-in-out; /* Animasyon için transition eklendi */
  background-color: transparent;
  div {
    margin-top: 7px;
    margin-left: 7px;
    font-size: xx-large;
    color: #fc4747;
  }
}

.oneElement-properties-img-container:hover {
  cursor: url(hand.cur), pointer;
  transform: scale(1.1); /* Üstüne gelince büyüme efekti */
}

.element-container:hover,
.trend-container:hover {
  cursor: url(hand.cur), pointer;
  transform: scale(1.05); /* Üstüne gelince büyüme efekti */
}

.trend-container::after {
  content: ""; /* Pseudo-element içeriği boş */
  position: absolute; /* Mutlaka pozisyonlandırılmış */
  bottom: 0; /* Alt kenara hizala */
  left: 0; /* Sol kenara hizala */
  width: 100%; /* Tam genişlik */
  height: 100%; /* Görselin alt kısmının yüzdesi */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    transparent
  ); /* Karartma efekti */
  z-index: 0; /* Arkaplanın görselin altında kalması için */
}

.trends-splashart-properties {
  position: absolute; /* Mutlaka pozisyonlandırılmış */
  bottom: 0; /* Alt kenara hizala */
  left: 0; /* Sol kenara hizala */
  width: 100%; /* Tam genişlik */
  padding: 20px; /* Yazıların kenarlardan uzaklığı */
  box-sizing: border-box; /* Padding'i içeriğin dışında tutmak için */
  color: white; /* Yazı rengi */
  z-index: 1; /* Yazıların görselin üzerinde kalması için */
}

.login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 373px;
  padding: 20px;
  background-color: #161d2f; 
  border-radius: 8px;
}
.login{
  background-color: #161d2f;
  font-size: xx-large;
  margin-left: 30px;
}
.login-emaill{
  background-color: transparent;
  border: none;
  border-bottom: #5A698F;
  margin-top: 60px;
  font-size: large;
  height: 37px;
  width: 336px;
  border-bottom: 2px solid #5A698F;
  caret-color: #fc4747;
}
.login-password{
  background-color: transparent;
  border: none;
  font-size: large;
  border-bottom: #5A698F;
  margin-top: 20px;
  height: 37px;
  width: 336px;
  border-bottom: 2px solid #5A698F;
  caret-color: #fc4747;
}

.login-button{
  background-color: #fc4747;
  width: 336px;
  height: 48px;
  border-radius: 8px;
  justify-self: center;
  margin-top: 20px;
}

.login-button:hover{
  cursor: url(hand.cur), pointer;
}

.login-emaill:focus,
.login-password:focus {
  outline: none;
  border-bottom: 2px solid white; /* Odaklanıldığında alt bordür rengini değiştir */
}

.inner-container-login{
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
}

.login-container2{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.login-signup{
  color: #fc4747;
}
.login-signup:hover{
  cursor: url(hand.cur), pointer;
}

.login-logo{
  background-color: #161d2f;
  margin-bottom: 75px;
}

.bookmark-sign{
  position: absolute;
  background-color: rgba(16, 20, 30, 0.5);
  border-radius: 50%;
  z-index: 1;
  top: 5%;
  left: 80%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookmark-sign:hover{
  transform: scale(1.2); /* Üstüne gelince büyüme efekti */
  background-color: rgba(242, 243, 247, 0.5) ;
}

.bookmark-sign-icon{
  background-color: transparent;
  width: 25px;
  height: 25px;
}
.bookmark-sign-icon:hover{
  background-color: transparent;
  width: 25px;
  height: 25px;
  fill: black;
}

.bookmark-container{
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
  gap: 60px;
  flex-wrap: wrap;
}

.login-emaill.error-border,
.login-password.error-border {
  border-color: #dc3545; /* Hata durumunda border rengi */
}

.login-emaill.error-border:focus,
.login-password.error-border:focus {
  border-color: #dc3545; /* Hata durumunda aktif border rengi */
  outline: none;
}

.active{
  fill: white;
}


/* WebKit browsers */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #10141e; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #fc4747; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
  border:#161d2f; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #dc3545; /* Color of the scrollbar thumb on hover */
}

.trend-slider {
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
}