* {
  background-color: #10141e;
  color: white;
}
.body {
  margin: 0px;
}
.container {
  display: flex;
}
.container2 {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: #161d2f; /* Arka plan rengi */
  width: 96px; /* Sidebar genişliği */
  height: 960px; /* Ekran yüksekliği kadar genişletme */
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  padding: 20px; /* İçerikten kenarlara mesafe */
  box-sizing: border-box; /* Padding'i içeriğin dışında tutmak için */
  color: white; /* Yazı rengi */
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-images {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  align-items: center; /* Öğeleri ortalamak için */
  margin-top: 3rem;
}
.inner-sidebar {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  align-items: center; /* Öğeleri ortalamak için */
}
.inner-sidebar img {
  width: 25px; /* Vektörlerin genişliğini küçültmek için */
  height: 25px; /* Vektörlerin yüksekliğini küçültmek için */
  margin-bottom: 20px; /* Resimler arasında boşluk bırakmak için */
}

.sidebar-avatar {
  background-color: #161d2f;
}

.sidebar-logo {
  background-color: #161d2f;
  margin-top: 1rem;
}
.sidebar-logo img {
  width: 40px; /* Logonun genişliğini ayarlamak için */
  height: 40px; /* Logonun yüksekliğini ayarlamak için */
}

.deneme {
  display: flex;
}

.search-container {
  margin-top: 32px;
  margin-left: 66px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-input {
  border-color: #10141e;
  width: 381px;
  height: 32px;
  border-width: 0px;
  border: 2px solid #10141e;
  transition: border-color 0.3s, border-width 0.3s;
  padding-left: 20px; /* Sadece sol tarafa ekstra 20px boşluk ekler */
}

.search-input:focus {
  outline: none; /* Varsayılan outline'ı kaldır */
  border-radius: 20px;
  border-color: #161d2f; /* İstediğiniz renk kodunu girin */
  border-width: 3px; /* İstediğiniz genişliği girin */
}
.container-trends {
  margin-left: 66px;
  margin-top: 34px;
}

.trend-title {
  font-size: xx-large;
}
.sidebar-click:hover {
  cursor: url(hand.cur), pointer;
  width: 40px;
  height: 40px;
}

.sidebar-logo .sidebar-click:hover {
  cursor: url(hand.cur), pointer;
  width: 50px;
  height: 50px;
}

.sidebar-avatar-click:hover {
  cursor: url(hand.cur), pointer;
  width: 90px;
  height: 90px;
}

.element-container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.element-container:hover{
  
}

.element-properties{
  display: flex;
  gap: 10px;
  font-size: small;
  margin: 10px;
}

.element-name{
  display: flex;
  margin-left: 10px;
  font-size: large;
  font-weight: bolder;
}

.element-box{
  margin-top: 30px;
  display: flex;
  justify-content: space-between; /* Elemanları en üst ve en altta boşluklarla yerleştir */
  margin-right: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.element-splashart{
  width: 280px;
  height: 174px;
  border-radius: 20px;
  object-fit: cover; /* Ensures the image covers the entire container */

}

.trends-splashart-properties{
  position: absolute;
  background: transparent;
  bottom: 20px;
  left: 20px;
  div{
    background: transparent;

  }

}

.trend-elements{
  display: flex;
  margin-top: 30px;
  display: flex;
  justify-content: space-between; /* Elemanları en üst ve en altta boşluklarla yerleştir */
  margin-right: 20px;
  gap: 40px;
  flex-wrap: nowrap;
}

.trend-splashart {
  width: 470px; /* Set the width */
  height: 230px; /* Set the height */
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 20px; /* Optional: Rounded corners */
}

.trend-name{
  font-size: 30px;
  font-weight: bolder;
}

